@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alhurra', sans-serif;
}



@font-face {
  font-family: 'Alhurra';
  src: url('/fonts/Alhurratext/Alhurra\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




